/*ALL*/
* {
    margin: 0;
}

body {
    min-height: 100vh;   
    display: flex;
    flex-direction: column;
}

/*HEADER*/
#header {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

#heading {

}



/*BODY*/
#body {

}

#calculator-container {

}

input {

}

#big-buttons {

}

#buttons-container {
}

.buttons {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border: none;
    /* color: white; */
    /* background-color: ; */
}

/*FOOTER*/
#footer {
    background-color: aqua;
    display: flex;
    justify-content: center;
    margin-top: auto;
}