
/* ALL */
* {
    margin: 0;
    padding: 0;
    
    --universal-blue-bg-color: #1F2937;
    --universal-white-color: white; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* HEADER */
#header{
    background-color: var(--universal-blue-bg-color);
    display: flex;
    justify-content: center;
}

#heading {
    color: var(--universal-white-color);
    font-size: 40px;
}

/* MAIN */
/* FOOTER */
#footer {
    background-color: var(--universal-blue-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
