/*ALL*/
* {
    margin: 0;
}

/*HEADER*/
#header {
    background-color: aqua;
    display: flex;
    justify-content: center;
}



/*BODY*/
#body {

}

#calculator-container {

}

input {

}

#big-buttons {

}

#buttons-container {
}

/*FOOTER*/
#footer {
    background-color: aqua;
    display: flex;
    justify-content: center;
}